.styles_typicalWrapper__1_Uvh{
    font-weight: 400;
    font-size : 300%;
  }
  
  #sousTitre{
    font-size : 160%;
    font-weight: 100;
    text-align : center;
    margin-bottom : 50px;
  }

  #plus:hover{
    color:  rgb(255, 108, 92);
  }

  #blocTexte{
    margin-top : 1%;
    display : flex;
    flex-direction: column;
    align-items : center; 
    font-family: 'Source Code Pro', monospace;
  }

@media screen and (max-width: 992px) {
    .styles_typicalWrapper__1_Uvh{
        font-size : 170%;
      }
    
      #sousTitre{
        font-size : 100%;
      }
}

@media screen and (max-width: 560px) {
    .styles_typicalWrapper__1_Uvh{
      font-size : 130%;
    }
}