#bio{
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  -ms-flex-pack : distribute;
      justify-content : space-around;
  width : 100%;
  padding-bottom: 0px;
}

#carteBio{
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex
}

#txtBio{
  margin : 20px;
  width : 310px;
  margin-bottom: 12%;
  text-align: justify;
}

#timeLine{
  width : 600px;
}

#carteBio{
  display : flex;
  margin : auto;
  width : 76%;
  margin-bottom: 50px;
}

#imgBio{
  width: 290px;
}

@media screen and (max-width: 1400px) {
  #imgBio{
    display : none;
  }
}

@media screen and (max-width: 992px) {
  #bio{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

  #timeLine, #imgBio{
      display : none;
  }
  
  #txtBio{
      width : auto;
  }
}