#contact{
  background-color : rgba(3, 219, 252, 0.2);
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  margin-top : 50px;

  -ms-flex-pack : distribute;
      justify-content : space-around;
  width: 90%;
  padding: 0 5%;
    }

.iconDiv{
  position: relative;
  bottom: 20px;
}

.iconLien{
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  color : black;
  text-decoration : none;
}

@media screen and (max-width: 992px) {
  #contact{
        padding: 0 10%;
    }
}