.styles_typicalWrapper__1_Uvh, h1{
  font-weight: 400;
  font-size : 3em !important;
}

#sousTitre{
  font-size : 160%;
  text-align : center;
  margin-bottom : 2em;
  font-weight : lighter;
}

#plus:hover, #goTop, #plus{
  color:  gray;
}

#blocTexte{
  margin-top : 1em;
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align : center;
  -ms-flex-align : center;
  align-items : center; 
  font-family: 'Source Code Pro', monospace;
}

#goTop{
  z-index : 10;
  position: fixed;
  bottom : 30px;
  right : 30px;
}

@media screen and (max-width: 992px) {
  #blocTexte{
    margin-top : 2em;
  }
  .styles_typicalWrapper__1_Uvh, h1{
      font-size : 1.6em !important;
    }
  
    #sousTitre{
      font-size : 100%;
    }

  #goTop{
    bottom : 42px;
    right : 18px;
  }

}

@media screen and (max-width: 560px) {
  .styles_typicalWrapper__1_Uvh, h1{
    font-size : 1.2em !important;
  }
}

@media screen and (max-width: 380px) {
  .styles_typicalWrapper__1_Uvh, h1{
    font-size : 1em !important;
  }
}