#volume{
    position: absolute;
    top : 10px;
    left: 12px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.02);
  }

  @media screen and (max-width: 992px) {
    #volume{
        position: absolute;
        top : 10px;
        right: 20px;
        left : auto;
      }
  }