#navbar{
  height: auto;
}

#navbar a:first-child{
  border-bottom : solid 2px rgb(130, 233, 171);
}

#navbar a{
  padding-bottom: 8px;
  font-size: 1.15em;
  text-decoration: none;
  color : black;
  margin-left : 4%;
  border-bottom : solid 2px rgba(130, 233, 171, 0);
  transition-duration: 400ms;
}

#navbar a:hover{
  border-bottom : solid 2px rgb(130, 233, 171);
}