.styles_typicalWrapper__1_Uvh, h1{
  font-weight: 400;
  font-size : 300% !important;
}

#sousTitre{
  font-size : 160%;
  text-align : center;
  margin-bottom : 50px;
}

#plus:hover{
  color:  rgb(255, 108, 92);
}

#blocTexte{
  margin-top : 1%;
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align : center;
      -ms-flex-align : center;
          align-items : center; 
  font-family: 'Source Code Pro', monospace;
}

#goTop{
  z-index : 10;
  position: fixed;
  bottom : 30px;
  right : 30px;
}

@media screen and (max-width: 992px) {
  .styles_typicalWrapper__1_Uvh, h1{
      font-size : 170% !important;
    }
  
    #sousTitre{
      font-size : 100%;
    }

  #goTop{
    right : 18px;
  }
}

@media screen and (max-width: 560px) {
  .styles_typicalWrapper__1_Uvh, h1{
    font-size : 130% !important;
  }
}