.styles_typicalWrapper__1_Uvh, h1{
  font-weight: 400;
  font-size : 300% !important;
}

#sousTitre{
  font-size : 160%;
  text-align : center;
  margin-bottom : 50px;
}

#plus:hover, #goTop, #plus{
  color:  gray;
}

#volume{
  position: absolute;
  top : 12px;
  left: 12px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.02);
}

#blocTexte{
  margin-top : 1%;
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align : center;
  -ms-flex-align : center;
  align-items : center; 
  font-family: 'Source Code Pro', monospace;
}

#goTop{
  z-index : 10;
  position: fixed;
  bottom : 30px;
  right : 30px;
}

@media screen and (max-width: 992px) {
  .styles_typicalWrapper__1_Uvh, h1{
      font-size : 170% !important;
    }
  
    #sousTitre{
      font-size : 100%;
    }

  #goTop{
    right : 18px;
  }

  #volume{
    position: absolute;
    top : 12px;
    right: 20px;
    left : auto;
  }
}

@media screen and (max-width: 560px) {
  .styles_typicalWrapper__1_Uvh, h1{
    font-size : 130% !important;
  }
}