.nav-pills .nav-link.active, .nav-pills .show > .nav-link, #navJob{
  background : none !important;
  border-radius: 0 !important;
  color : black !important;
  border-bottom : solid 2px rgb(130, 233, 171);
  text-decoration: none;
  font-size: 1em;
  padding: 0.5em 1rem;
}

.nav-pills .nav-link{
  color :  black;
}

.nav-item{
  z-index: 10;
}