@font-face{
  font-family: "Roboto";
  src: url('./polices/Roboto-Regular.ttf');
}

@font-face{
  font-family: "RobotoMedium";
  src: url('./polices/Roboto-Medium.ttf');
}

@font-face{
  font-family: "'Source Code Pro'";
  src: url('./polices/SourceCodePro-ExtraLight.ttf');
}

@font-face{
  font-family: "'Segoe UI'";
  src: url('./polices/Segoe UI.ttf');
}

html{
  scroll-behavior: smooth;
  overflow-x:hidden;
}

body{
  padding: 0 !important;
  color : rgb(64,64,64) !important;
  margin: 0;
  font-family: "Segoe UI";
}